
/*
	Name: Freddy Akpoly
	Period: 2
	Date: December 4, 2018
*/

body 
	{
		background-color: #EADEDB;
}

h1 
	{
		font-family: arial; font-size: 25pt; text-align:center;
}

h2
	{
		font-family: arial; font-size: 20pt; text-align: left
}

h3
	{
                font-family: comic sans MS; font-size: 20pt; text-align: left
}

h4
	{
		font-family: Times New Roman; font-size: 20pt; text-align: left
}

p
	{
		font-family:Times New Roman;
		font-size:16px;
}

img.benin{
  		float:right;
  		display: block;
  		margin-left: auto;
  
}
table,td,th
	{
		border:1px solid black; 
}
ul
	{
		font-family: Times New Roman; font-size: 20px; text-align: left
}
hr	{
		border:solid black;
 		border-width: 1px;
}
a.game {
   font-weight: bold;
}
p.placeholder{
font-family:Helvetica;
}

img.plat{ 	float:left;
  		display: block;
  		margin-left: auto;

}

img.CS{
width: 200px;
height:500px;

}













